<div class="block-wrapper">
  <div class="block-img"><img src="{{ data.image }}"/></div>
  <div class="content-wrapper">
    <div class="block-title">{{ data.title }}</div>
    <div class="block-desc">{{ data.description }}</div>
  </div>
</div>
